*{
    box-sizing: border-box;
}

body{
   font-family: 'Manrope', sans-serif;
   display: flex;
   flex-direction: column;
   background-color: #080C20;
   
}

header{
    width: 100%;
    overflow: hidden;
}

.header-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.logo-section{
    margin-top: 2rem;
}

.mobile-hero{
    margin-top: 3rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.mobile-hero img{
    width: 110%;
}

.words-icon{
    text-align: center;
    width: 85%;
}

.words-icon p{
    color: #777F98;
    font-size: 15px;
    line-height: 25px;
}

h1{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 1.3rem;
   padding: 0rem 2.3rem;
}

.love{
    color: #3EE9E5;
}

.scroll{
    margin-top: 2rem;
}

.large-left-hero{
    display: none;
}

.large-right-hero{
    display: none;
}

.header-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.large-squiggle{
    display: none;
}

main{
    width: 100%;
    margin-top: 8rem;
}


.fact-image{
    width: 4rem;
}


.img-holder{
    background-color: #093F68;
    border-radius: 2.5rem;
    padding: 1.4rem 1.6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}



.section1-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.words{
    text-align: center;
    width: 85%;
}

h2{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.words p{
    color: #777F98;
    line-height: 25px;
}

.car{
    padding: 2rem 1.5rem;
}


@media screen and (min-width:768px){
    .logo-section{
        margin-left: 4rem;
    max-width: 1110px;
    width: 100%;
    }

    .words-icon{
        background-image: url('imgs/bg-hero-squiggle.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 3rem;
    }

    .mobile-hero{
        display: none;
    }

    .large-left-hero{
        display: block;
        position: relative;
        right: 16rem;
    }
    
    .large-right-hero{
        display: block;
        left: 16rem;
        position: relative;
    }

    .header-middle{
        margin-top: 4rem;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        z-index: 500;
        
       
    }

    .large-img img{
        width: 18rem;
    }

    h1{
        padding: 0rem 4rem;
    }

    .fact{
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }

    .odd .words{
        position: relative;
        left: 4rem;
    }

    .even .words{
        position: relative;
        left: 4rem;
    }

    .even{
        justify-content: flex-start;
    }
    
    .words{
        text-align: left;
        width: 65%;
       
    }

    .section1{
        display: flex;
      flex-direction: column;
      align-items: center;
    }

  .section1-items{
      width: 100%;
      max-width: 573px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

    
}

@media screen and (min-width:1440px){

    .large-img img{
        width: 25rem;
    }

    .large-left-hero{
       
        right: 23rem;
    }

    .large-right-hero{
      
        left: 24rem;
    }

    .logo-section{
        margin-left: 2rem;
  
    }

    h1{
        font-size: 48px;
        line-height: 56px;
       
    }

    .words-icon{
        background-image: none;
        z-index: 1;

    }

    .words-icon p{
        padding: 0rem 5rem;
       
    }

    .large-squiggle{
        z-index: -1;
        display: block;
        position: absolute;
        top: -6rem;
        left: 5rem;
    }

    .section1-items{
        flex-direction: row;
        max-width: 1110px;
        justify-content: space-between;
    }

    .fact{
        flex-direction: column;
        margin-top: 4rem;
    }

   

}